*{
    overflow: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

body{
    font-family: Helvetica, Arial, sans-serif;
}

/* -----------------------------------
 * --typography
 * ----------------------------------- */


/* -----------------------------------
 * --layout
 * ----------------------------------- */

html, body,
#main-nav,
#main{
    height: 100%;
}

#main-nav{
    background: #666;
    float: left;
    width: 200px;
}

#main{
    margin-left: 200px;
}

.container{
    padding: 20px;
}

/* -----------------------------------
 * --modules
 * ----------------------------------- */
.list-container{
    height: 200px;
    border: 1px solid #ccc;
}

canvas{
    width: 100% !important;
}