*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

body{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

/* -----------------------------------
 * --typography
 * ----------------------------------- */

h2{
    display: inline-block;
    padding-right: 40px;
    font-size: 28px;
    margin: 0;
    vertical-align: middle;    
}
h3{
    font-size: 18px;
    margin: 0;
}

h4{
    font-size: 18px;
}

a{
    color: #fc0;
}

button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    border: 0;
    margin: 10px 0 0;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}
.button{
    padding: 8px;
    background: #fc0;
    color: #fff;
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
}
.cta{
    display: none;
    cursor: pointer;
}
.cta.active{
    display: inline-block;
}

/* --forms */
input[type="text"]{
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
    background: transparent;
}
.new-user-name{
    border: 0;
    font-weight: 700;
    font-size: 80px;
}
.new-user-name:focus{
    outline: none;
}
#new-user-search button{
    color: #fc0;
    background: transparent;
}

/* -----------------------------------
 * --layout
 * ----------------------------------- */
html, body, .page{
    height: 100%;
}

.main-container{
    padding-top: 44px;
    margin-bottom: 153px;
    background: #fff;
    position: relative;
    z-index: 5;
}
.main-content{
    margin-left: 0;
    position: relative;
    z-index: 7;
    background: #fff;
    margin-left: 0;

    -webkit-transition: margin-left .5s, padding-top .5s;
    -moz-transition: margin-left .5s, padding-top .5s;
    -ms-transition: margin-left .5s, padding-top .5s;
    -o-transition: margin-left .5s, padding-top .5s;
    transition: margin-left .5s, padding-top .5s;
}
.main-content.sidebar-reveal{
    margin-left: 260px;
}
.main-content.pushdown{
    padding-top: 210px;
}

.container{
    padding: 20px;
}
section{
    padding: 40px 20px;
    border-bottom: 1px solid #eee;
}
section header{
    padding-bottom: 20px;
}
#data section:last-child{
    border: 0;
}

/* -----------------------------------
 * --components
 * ----------------------------------- */

/* --banner */
.page-banner{
    position: fixed;
    width: 100%;
    background: #fc0;
    z-index: 10;
    color: #fff;
}
.site-title{
    font-size: 18px;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}
.header-link{
    color: #fff;
    position: absolute;
    right: 20px;
    top: 10px;
}

/* --new user search */
#new-user-search{
    padding-top: 40px;
    border-bottom: 1px solid #eee;
    position: fixed;
    width: 100%;
    top: -273px;
    z-index: 9;
    background: #fff;
    background: rgba(255,255,255,.9);

    -webkit-transition: top .5s;
    -moz-transition: top .5s;
    -ms-transition: top .5s;
    -o-transition: top .5s;
    transition: top .5s;
}
#new-user-search.active{
    top: 0px;
}
#new-user-search button{
    font-size: 28px;
}

/* --sidebar */
.sidebar-content{
    position: fixed;
    width: 260px;
    top: 44px;
    z-index: 4;

    -webkit-transition: top .5s;
       -moz-transition: top .5s;
        -ms-transition: top .5s;
         -o-transition: top .5s;
            transition: top .5s;
}
.sidebar-content.pushdown{
    top: 254px;
}
.sidebar-content .button{
    width: 100%;
}

/* --userdata */
.user-image{
    border: 4px solid #0074ab;
}
.userstats .data{
    font-weight: 700;
    float: right;
    font-size: 18px;
}
.stat-cell{
    border-top: 1px solid #eee;
    padding: 10px 0;
    font-size: 14px;
}
.stat-cell:first-child{
    border-top:0;
}

/* --footer */
.page-footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
    background: #404041;
    color: #fff;
    font-size: 14px;
}

/* -----------------------------------
 * --data
 * ----------------------------------- */

#data{
    display: none;
    border-left: 1px solid #eee;
}

/* --tables */
.list-container{
    display:block;
    text-align:left;
    width: 100%;
}
.list-container tbody,
.list-container thead,
.list-container tr{
    display: block;
    overflow: auto;
}
.list-container tbody{
    max-height: 400px;
}
.list-container thead tr{
    border-bottom: 1px solid #ccc;
}
.list-container tbody tr{
    border-bottom: 1px solid #eee;
    overflow: visible;
    clear: both;
}
.list-container tbody tr:after{
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
.list-container tr.hiderow{
    display: none;
}
.list-container tr.active{
    font-weight: 700;
    background: #eee;
}
.list-container tr.hoverstyle:hover{
    background:#eee;
}
.list-container tr.active td:first-child{
    padding-left: 6px;
}
.list-container td,
.list-container th{
    padding: 6px 10px 6px 0;
    display: block;
    float: left;
}
.list-container th{
    cursor: pointer;
}
.list-container th span{
    display: inline-block;
    position: relative;
    top: -2px;
    width: 14px;
    height: 8px;
    margin-left:6px;
    background-repeat: no-repeat;
}

.list-container th.tablesorter-headerDesc span{
    background-image: url(../svg/arrow-down.svg);
}
.list-container th.tablesorter-headerAsc span{
    background-image: url(../svg/arrow-up.svg);
}

/* --checkins */
.util{
    overflow: visible;
}
.util svg{
    vertical-align: middle;
}
.comment-container{
    position: relative;
    overflow: visible;
}
.comment-container:hover:after{
    content:attr(data-comment);
    position: absolute;
    z-index: 100;
    min-width: 250px;
    top: 26px;
    background: #fff;
    padding: 6px;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
}

/* --beers */

/* --breweries */
#breweries tbody tr{
    cursor: pointer;
}

/* --charts */
.untappd-chart{
    width: 100%;
    min-height: 10px;
}

/* --maps */
.beermap{
    height: 1000px;
    width: 100%;
}

/* -----------------------------------
 * --messages
 * ----------------------------------- */
#messages,
#messages > div{
    display: none;
}

#messages{
    width: 100%;
    text-align: center;
    margin-top: 230px;
}

#messages .error{
    color: #c00;
}

/* -----------------------------------
 * --loading
 * ----------------------------------- */

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-o-keyframes spin {
    from { -o-transform: rotate(0deg); }
    to { -o-transform: rotate(360deg); }
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@keyframes spin {
    from { transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
#loading{
    display: none;
    width: 100%;
    padding-top: 100px;
    text-align: center;
}
#loading svg{
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    -o-animation-name: spin;
    -o-animation-duration: 2000ms;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* loading bar */
#loading .loading-bar{
    vertical-align: middle;
}
#loading .loading-bar .tick{
    display: inline-block;
    background: #ccc;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    border-radius: 100%;
}
#loading .loading-bar .tick.fill{
    background: #fc0;
}



/* ==============================================================
   --media queries
   ============================================================== */

@media screen and (max-width: 900px){
    .sidebar-content{
        position: static;
        width: 100%;
    }
    .main-content.sidebar-reveal{
        margin-left: 0;
    }
}

@media screen and (max-width: 580px){
    body{
        font-size: 12px;
    }
}


