.checkin {
  border: 1px solid $c-gray-c;
  padding: $spacing;
  margin-bottom: $spacing;
}

.checkin__rating-bar {
  display: block;
  width: 100%;
  height: 10px;
  border: 1px solid $c-gray-c;

  span {
    display: block;
    background-color: $c-yellow;
    height: 100%;
  }
}
