.search__wrapper {
  transition: opacity var(--default-trs-timing), visibility var(--default-trs-timing);
  opacity: 0;
  visibility: hidden;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 4px;
  right: 0;
  bottom: 0;
  background-color: $c-white;
  padding: #{$spacing * 4} $spacing $spacing $spacing;

  .search--visible & {
    opacity: 1;
    visibility: visible;
  }
}

.search__input {
  width: 100%;
  display: block;
  font-size: 2rem;
  font-weight: $fw-bold;
}

.search__close {
  position: absolute;
  top: 2rem;
  right: $spacing;
  display: flex;
  align-items: center;

  span {
    margin-right: 0.5em;
  }

  svg {
    width: 16px;
    height: 16px;
  }
}
