.search__wrapper {
  transition: opacity var(--default-trs-timing), visibility var(--default-trs-timing);
  opacity: 0;
  visibility: hidden;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 4px;
  right: 0;
  bottom: 0;
  background-color: $c-black;
  padding: #{$spacing * 6} $spacing $spacing $spacing;

  .search--visible & {
    opacity: 1;
    visibility: visible;
  }
}

.search__input {
  width: 100%;
  display: block;
  font-size: $fs-lg;
  font-weight: $fw-bold;
  background-color: $c-black;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid $c-gray-c;
  padding-left: 0;
  padding-right: 0;

  &:focus {
    outline: none;
  }
}

.search__close {
  position: absolute;
  top: 2rem;
  right: $spacing;
  display: flex;
  align-items: center;

  span {
    margin-right: 0.5em;
  }

  svg {
    width: 16px;
    height: 16px;
  }
}

// Results
// -----------

.search__results {
  margin-top: $spacing * 2;

  li {
    margin-top: $spacing * 2;
  }
}

.search__result {
  margin-top: $spacing * 2;
}

.search__item {
  font-size: $fs-lg;
  color: $c-white;

  &:hover {
    color: $c-gray-c;
  }
}
