.user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: $spacing;
}

.user__avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 80px;
  height: 80px;
  margin-left: auto;

  img {
    width: 100%;
    display: block;
  }
}
