.utility-menu {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: $c-yellow-dark;
  text-align: center;
  display: flex;
  align-items: center;

  .util-menu__button {
    width: 56px;
    padding: 18px;
    color: $c-white;
    position: relative;

    + .util-menu__button {
      border-left: 1px solid rgba($c-white, 0.2);
    }
  }
}
