/* ==============================================================
 *
 * layout
 *
 * ============================================================== */


.app-sidebar{
    width: 200px;
    float: left;
}
.app-main{
    margin-left: 200px;
}