.env
.DS_Store

# the untappd API keys
src/app/factories/untappdKeys.js

node_modules
/dist
/build

# Data files
/data/*
!/data/checkins-backup-*
!/data/user-backup-*

/.svelte-kit
vite.config.js.timestamp-*
vite.config.ts.timestamp-*