.split {
  display: grid;
  gap: var(--spacing-xl);

  &--50-50 {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.inline-items {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-lg);
}
