// Padding
.padding-base {
  padding: var(--spacing-base);
}

.padding-sm {
  padding: var(--spacing-sm);
}

.padding-bottom-lg {
  padding-bottom: var(--spacing-lg);
}

// Margin

.margin-top-lg {
  margin-top: var(--spacing-lg);
}
.margin-top-sm {
  margin-top: var(--spacing-sm);
}
.margin-top-xs {
  margin-top: var(--spacing-xs);
}

.margin-bottom-xl {
  margin-bottom: var(--spacing-xl);
}
.margin-bottom-lg {
  margin-bottom: var(--spacing-lg);
}
