body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: var(--ff);
  line-height: 1.4;
}

strong,
.fw-bold {
  font-weight: var(--fw-bold);
}

// Headers

h1 {
  font-size: var(--step-4);
  font-weight: var(--fw-bold);
  line-height: 1.1;
}
h2 {
  font-size: var(--step-3);
  font-weight: var(--fw-bold);
  line-height: 1.1;
}

// Utility

.fs-lg {
  font-size: var(--step-1);
}

.fs-sm {
  font-size: var(--step--1);
}

.fs-xs {
  font-size: var(--step--2);
}

.ff-mono {
  font-family: monospace;
}

.color-opacity-50 {
  opacity: 0.5;
}

.text-align-right {
  text-align: right;
}

// Buttons

button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}
.button {
  border-radius: var(--border-radius);
  padding: var(--spacing-sm);
  font-size: var(--fs-sm);

  :global(svg) {
    width: 20px;
  }
}

.button-orange {
  background-color: var(--color-primary);

  &:hover {
    background-color: var(--color-primary-hover);
  }
}

.button-translucent {
  background-color: var(--color-white-8);
  border-top: 1px solid transparent;

  &:hover {
    background-color: var(--color-white-15);
  }

  &--active {
    border-color: var(--color-primary);
    background-color: var(--color-white-15);
  }
}

.button-inline-icon {
  display: flex;
  align-items: center;

  > .icon {
    width: 24px;
    margin-left: 0.5em;

    svg {
      display: block;
    }
  }
}

.link {
  &:hover {
    color: var(--color-primary-hover);
  }
}

// Special components

$list-header-dash-width: 1rem;
$list-header-margin: 10px;

.list-header {
  display: flex;
  align-items: flex-start;

  &:before {
    content: '';
    display: block;
    width: $list-header-dash-width;
    height: 1px;
    margin-top: 0.5em;
    margin-right: $list-header-margin;
    background-color: var(--color-primary);
  }
}

.list-header-subhead {
  margin-left: calc($list-header-dash-width + $list-header-margin);
}

// Interactive
.loading-name {
  // width: 50vw;
  display: block;
  background-color: var(--color-white-alpha-06);
  color: transparent;
  font-weight: normal;
}

.block-label {
  display: block;
}
