
<div ng-controller="SidebarCtrl as sidebar">
    
    <h6>user: {{sidebar.userInfo.user_name}}</h6>

    <form ng-submit="sidebar.loadUser()">
        <input type="text" ng-model="sidebar.newUser">
        <button type="submit">Go</button>
    </form>



    <div>
        <div>
            {{sidebar.userInfo.first_name}} {{sidebar.userInfo.last_name}}
        </div>
        <div>
            <img ng-show="sidebar.userInfo.user_avatar" ng-src="{{sidebar.userInfo.user_avatar}}" alt="">
        </div>

        <div>
            <h6>Stats</h6>

            <ul>
                <li>Badges: {{ sidebar.userInfo.stats.total_badges }}</li>
                <li>Unique Beers: {{ sidebar.userInfo.stats.total_beers }}</li>
                <li>Total Beers: {{ sidebar.userInfo.stats.total_checkins }}</li>
            </ul>
    
            <button ng-click="updateBeers( sidebar.userInfo.user_name )">Update {{ sidebar.userInfo.user_name}}</button>
        </div>
    </div>

</div>
