
<div ng-controller="SidebarCtrl as sidebar">
    
    <h6>user: {{sidebar.user.username}}</h6>

    <form ng-submit="loadUser()">
        <input type="text" ng-model="newUser">
        <button type="submit">Go</button>
    </form>


    <div>
        <div>
            {{sidebar.user.untappd.userData.first_name}} {{sidebar.user.untappd.userData.last_name}}
        </div>
        <div>
            <img ng-show="sidebar.user.untappd.userData.user_avatar" ng-src="{{sidebar.user.untappd.userData.user_avatar}}" alt="">
        </div>

        <div>
            <h6>Stats</h6>

            <ul>
                <li>Badges: {{ sidebar.user.untappd.userData.stats.total_badges }}</li>
                <li>Unique Beers: {{ sidebar.user.untappd.userData.stats.total_beers }}</li>
                <li>Total Beers: {{ sidebar.user.untappd.userData.stats.total_checkins }}</li>
            </ul>
    
            <button ng-click="updateBeers( sidebar.user.username )">Update {{ sidebar.user.username}}</button>
        </div>
    </div>

</div>
