// Font size
// -----------

$fs-base: 16px;
$fs-sm: 0.8rem;
$fs-md: 1.33rem;
$fs-lg: 2rem;

// Line height
// -----------

$lh-base: 1.4;

// Font family
// -----------

$ff-body: 'Inconsolata', monospace;

$fw-regular: 400;
$fw-bold: 700;
