.app {
  border-right: 4px solid $c-yellow-dark;
  min-height: 100vh;
  padding: $spacing;
  background-color: $c-black;
  color: $c-white;
}

.block {
  margin-bottom: $spacing * 2;
}

.app-main {
  margin-top: $spacing * 2;
}
