html {
  color: $c-black;
  font-size: $fs-base;
  line-height: $lh-base;
  font-family: $ff-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: none;
  border-radius: 0;
  background: none;
}

input {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  padding: 0.5em;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid $c-gray-c;
}

strong {
  font-weight: $fw-bold;
}

// Buttons
// -----------

.btn {
  display: inline-block;
  background-color: $c-yellow;
  font-weight: $fw-bold;
  padding: 0.8em 1.2em;
  border-radius: 2em;
}

// Header
// -----------

h2 {
  font-size: $fs-lg;
  font-weight: $fw-bold;
  margin-bottom: 1em;
}
